@import "top-bar.css";

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    margin: 80px auto;
    max-width: 1200px;
}

.panel {
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px;
    flex: 1;
    position: relative;
}

.panel:last-child {
    margin-right: 0;
}

#menuTree .jstree-default {
    font-size: 16px;
}

/* 스크롤 시 top-bar 아래 공간 */
body {
    padding-top: 60px;
}

/* 상세 조회 패널 스타일 */
#menuDetails {
    font-size: 14px;
}

#menuDetails h2 {
    margin-top: 0;
}

#menuDetails p {
    margin: 5px 0;
}

/* 추가된 버튼 스타일 */
button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

button:active {
    background-color: #004085;
}

#menuTreePanel .btnDiv {
    position: absolute; /* 패널 내부에서 위치를 고정 */
    bottom: 20px;
    right: 20px;
}
