<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/dist/themes/default/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/menus.css">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragment/top-bar :: topbar}" class="top-bar">
    <h1>Menu Management</h1>
</div>

<div class="container">
    <div class="panel" id="menuTreePanel">
        <h2>Menu Tree</h2>
        <div id="menuTree"></div>
    </div>

    <div class="panel" id="menuDetails">
        <h2>Menu Details</h2>
        <p>Select a menu item to view details.</p>
    </div>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/dist/jstree.js"></script>
<script src="/js/menus.js"></script>
<script src="https://kit.fontawesome.com/e58479687e.js" crossorigin="anonymous"></script>

</body>
</html>